@font-face {
  font-family: 'Inter';
    src: local('Inter'), local('Inter Regular');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Georgian';
    src: local('Noto Sans Georgian'), local('NotoSansGeorgian-Regular');
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
    src: local('Playfair Display'), local('PlayfairDisplay-Regular');
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
}
@font-face {
  font-family: 'Manrope';
    src: local('Manrope'), local('Manrope Regular');
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
}
